.notGoodEnough-horizontal-text-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .notGoodEnough-image {
        border: 0.5rem solid white;
        width: 50%;
        height: auto;
        z-index: 0;
    }
}