.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding: 2rem 4rem;

    .header-button {
        background: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        text-wrap: nowrap;
    }

    .header-button:hover {
        text-decoration: underline;
    }
}