.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
    padding: 2rem 4rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header-button {
        background: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        text-wrap: nowrap;
        letter-spacing: 0.05em;
    }



    .header-button:hover {
        text-decoration: underline;
    }
}