.graphic-design-layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 5rem);
    overflow: scroll;

    .graphic-design-page {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem; // Adjusted gap to use rem for consistency
        width: 100%;
        max-width: 1200px;
    }
}