.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 4rem 2rem;
    gap: 2rem;
    height: calc(100vh - 5rem);
    width: 100%;
    min-height: 370px;

    .home-component {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100%;
        min-height: 300px;
        text-align: center;
        gap: 2rem;
        text-wrap: nowrap;
    }

    .home-title {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: start;
        align-items: start;
        translate: 0 0;
    }

    .home-title-2 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: start;
        align-items: start;
        translate: 0 0;
        height: 100%;
    }

    .home-image {
        width: auto;
        height: 100%;
        max-width: none;
        border: 0.6rem solid white;
    }

    .home-chapter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10vh;

        .home-title-2 {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: start;
            align-items: start;
            translate: 0 0;
            height: 100%;
        }
    }

    .home-subtitles {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: start;
        align-items: start;
        translate: 0 0;
        height: fit-content;
        padding: 0 0 4rem 0;
    }
}

//(min-aspect-ratio: 16/9) or
@media (min-width: calc(60vh + 800px)) {
    .home {
        justify-content: center;
        height: calc(100vh - 5rem);
        width: 100%;
        padding: 0rem 2rem 4rem 2rem;
        gap: 2rem;

        .home-component {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 90vh;
            width: 100%;
            gap: 2rem;
        }

        .home-title {
            display: flex;
            justify-content: end;
            align-items: end;
            translate: 0 -65%;
            height: 100%;
        }

        .home-chapter {
            .home-title-2 {
                display: none;
            }
        }

        .home-image {
            width: auto;
            height: 100%;
            max-width: none;
        }

        .home-subtitles {
            translate: 0 65%;
            padding: 0;
        }
    }
}


@media (max-width: 1000px) or (max-aspect-ratio: 1/1) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0rem 1rem 1rem 1rem;
        gap: 1rem;
        height: none;
        width: 100%;

        .home-component {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: center;
            gap: 1rem;
            text-wrap: nowrap;
            width: fit-content;
        }

        .home-title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: start;
            align-items: start;
            translate: 0 0;
        }

        .home-chapter {
            .home-title-2 {
                display: none;
            }
        }

        .home-image {
            width: 100%;
            max-width: 500px;
            height: auto;
            border: 0.6rem solid white;
        }

        .home-subtitles {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: start;
            align-items: start;
            translate: 0 0;
            height: fit-content;
            padding: 0 0 4rem 0;
        }
    }

}

@media (max-width: 625px) {
    .home {
        padding: 0 5% 5% 5%;

        .home-component {
            align-items: start;
            justify-content: start;
            width: fit-content;

            .home-title {
                display: flex;
                padding: 0;
                margin: 0;
            }

            .home-chapter {
                .home-title-2 {
                    display: none;
                }
            }

            .home-image {
                width: 100%;
                height: auto;
                min-width: none;
                min-height: none;
            }

            .home-subtitles {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: start;
                align-items: start;
                translate: 0 0;
                height: fit-content;
                padding: 0 0 4rem 0;
            }
        }
    }

}

@media (max-width: 325px) {
    .home {
        align-items: start;
        justify-content: start;
        min-width: 300px;
    }
}